{% assign nav_key = page.profile | append: "_" | append: page.lang %}
{% assign nav_items = site.data.navigation[nav_key] %}

<div class="masthead profile-masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          {% for link in nav_items %}
            <li class="masthead__menu-item {% if page.url == link.url %}masthead__menu-item--active{% endif %}">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
    <div class="masthead__lang">
      {% include language-switcher.html %}
    </div>
  </div>
</div>
